:root {
	--primary: #212121;
	--dark: #000;
	--accent: #D4AF37;
	--accent-dark: rgb(170, 140, 50);
}

::selection {
    color: var(--primary);
    background-color: #fff;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
	overflow: hidden;
	background: var(--primary);
	color: var(--dark);
	box-sizing: border-box;
	font-family: 'Monsterrat', sans-serif;
	font-weight: 400;
}

*, ::before, ::after {
	box-sizing: inherit;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 1em;
	user-select: none;
    background-color: var(--primary);
	box-shadow: 0 0 0.25em gainsboro;
	color: #fff;
}

header > h1 {
	font-weight: 400;
	margin: 0;
}

.btn {
	outline: none;
	cursor: pointer;
	transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;
	font-size: 1.1em;
	padding: 0.5em;
	user-select: none;
}

button.classic {
	border-radius: 2px;
	border: 2px solid var(--accent);
	color: #fff;
	background: var(--accent);
}

button.classic:hover {
	background: var(--accent-dark);
	color: #fff;
}

button.empty {
	border: none;
	border-bottom: 2px solid #fff;
	color: #fff;
	background: transparent;
}

button.empty:hover {
	color: var(--accent);
	border-bottom: 2px solid var(--accent);
}

section.banner {
	padding: 2em 1em;
	min-height: calc(100vh / 3);
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	color: #fff;
	/* background: var(--accent); */
}

section.banner > h2 {
	font-size: 3em;
	font-weight: 500;
	margin: 0 0 0.5em 0;
	text-shadow: 0 0 0.5em #fff;
}

.link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
}

.link::after {
    display:block;
    content: '';
    border-bottom: solid 3px var(--accent);  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
}

.link:hover::after {
    transform: scaleX(1);
}

.container {
    margin: auto;
    display: block;
    text-align: center;
}

form .field {
    position: relative;
    margin: 2rem;
}

form .field .placeholder {
    position: absolute;
    opacity: 0.5;
    top: 0.7vh;
    left: 42vw;
    transition: 0.25s;
    color: black;
    z-index: 1;
}

form .field input:valid:not(:focus) + .placeholder {
    z-index: 1;
    color: white;
} /* two small bugs: one, if the user clicks on the placeholder, it does not select the input, and two: the web page is not responsive */
/* could you fix those? i gtg */

form .field input:focus + .placeholder {
    top: -1.5rem;
    color: white;
    display: block;
    font-size: 10pt;
}

form .field input {
    outline: none;
    border: none;
    padding: 0.5vw;
    border-radius: 5px 5px;
    z-index: 2;
}

form input[type=submit] {
    border-radius: 5px 5px;
    padding: 1vw;
    color: white;
    background-color: var(--primary);
    border: 1px solid white;
    box-shadow: var(--dark) 0px 5px 0px;
    text-align: center;
}

form input[type=submit]:focus {
    box-shadow: var(--dark) 0px 0px 0px;
    transform: translate(0px, 5px);
}